fastapi==0.115.4
uvicorn[standard]==0.32.1
python-multipart==0.0.12
pydantic==2.10.3
python-dotenv==1.0.1
httpx==0.28.1
python-magic==0.4.27
openai==2.4.0
openapi-pydantic==0.3.2
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
sqlalchemy==2.0.36